# ScriptCreator ACE permission helper
# Tambahkan file ini ke server.cfg jika ingin mengelola permission sekaligus melalui resource path.
# contoh:
# exec resources/[standalone]/scriptcreator/permissions.cfg

add_ace group.admin scriptcreator.admin allow
# add_principal identifier.steam:110000112345678 group.admin
